.DS_Store
.cache
node_modules
my-project
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# temp file for git conflict merging
*.sass-cache